<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ehs">
    <!-- 네트워크 사용에 대한 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 정확한 위치 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 카메라 기능 사용 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 유튜브 연결 -->
    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".Admin.ManagementFeed_Activity" />
        <activity android:name=".Admin.ManagementUser_Activity" />
        <activity android:name=".Admin.ManagementUserModify_Activity"/>
        <activity android:name=".Admin.Managementchoice_Activity" />
        <activity android:name=".Closet.BasicClothesDetailActivity" />
        <activity android:name=".Closet.BasicClothesActivity" />
        <activity android:name=".Calendar.CalendarSaveCodyActivity" />
        <activity android:name=".Calendar.CalendarChoiceActivity" />
        <activity android:name=".Calendar.CalendarMakeCodyActivity" />
        <activity android:name=".Closet.CodyMakeActivity" />
        <activity android:name=".Feed.CommunityEditActivity" />
        <activity android:name=".Feed.CommunityDetailActivity" />
        <activity android:name=".Closet.CodySaveActivity" />
        <activity android:name=".Fashionista.ProRecommendActivity" />
        <activity android:name=".Fashionista.ProfilePlus_Activity" />
        <activity android:name=".Fashionista.FashionistaProfile_Activity" />
        <activity android:name=".Weather.WeatherActivity" />
        <activity android:name=".Mypage.UserModifyActivity" />
        <activity android:name=".AI.AIActivity" />
        <activity android:name=".AI.Main_AIActivity" />
        <activity android:name=".Calendar.CalendarActivity" />
        <activity android:name=".Closet.ClothesSaveActivity" />
        <activity android:name=".Home.ColorRecommendActivity" />
        <activity android:name=".Home.StyleRecommendActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainLoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.closet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>